
.otp-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .otp-page-image {
    width: 29%;
    height: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: #e0e7ff; */
  }
  
  .otp-page-image img {
    max-width: 80%;
    max-height: 80%;
  }
  
  .otp-page-form-container {
    width: 620px;
    height: 620px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    /* justify-content: center; */
    background-color: #ffe5e5;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  
  .otp-page-title {
    margin-top: 40px;
    margin-bottom: 25px;
    /* text-align: center; */
    color:black;
    font-size: 35px;
    font-weight: 500;
  }
  
  .otp-page-instruction {
    color:black;
    font-size: 18px;
    font-weight: 500;
    /* margin-bottom: 0px; */
    
  }
  
  .otp-page-input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .otp-page-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .otp-page-input:focus {
    border-color: #ae3c42;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .otp-page-submit-btn {
    width: 325px;
    height: 40px;
    background-color: #ae3c42;
    color: white;
    padding: 2px;
    border: none;
    border-radius: 5px;
    /* margin-top: 15px; */
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    /* margin-left: 85px; */
  }
  
  .otp-page-submit-btn:hover {
    background-color: #d74747;
  }
  
  .otp-page-message {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .otp-page-success {
    color: green;
  }
  
  .otp-page-error {

    color: red;
  }
  
  .otp-page-footer {
   /* text-align: center; */
   color: #ae3c42;
   /* margin-top: 5px; */
   /* margin-bottom: 20px; */
   font-weight: bold;
   font-size: 19px;
   
  }
  