
   
   .page {
    background-color:#FFFFFF; /*yaha tak navbar ka tha */
    width:100%;
    min-height:100vh;
  }
   
   
   
  
   
   
   
  
   .properties-section {
    margin-left:10px;
    margin-top:10px;
    padding-bottom:20px; /*ye pehle wale mein nahi tha, so see what diference is there*/
  }
   
   .properties-heading {
    font-size:25px;
    color:#18191F;
    margin-bottom:6px;
  }
   
   .heading-underline {
    width:80px;
    height:3.5px;
    background-color:#7D141D;
    border-radius:2px;
  }
  
  /* Responsive adjustments */
 
   
  .property-cards-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); /* Max 3 cards per row */
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.property-card{
  max-width : 395px;
}

   