.page {
  background-color: #FFFFFF;
  width: 100%;
  min-height: 100vh;
}

/* Properties Section */
.properties-section {
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.properties-heading {
  font-size: 25px;
  color: #18191F;
  margin-bottom: 6px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.heading-underline {
  width: 80px;
  height: 3.5px;
  background-color: #7D141D;
  border-radius: 2px;
}

/* Property Cards Grid */
.property-cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

/* Property Card */
.property-card {
  max-width: 395px;
  transition: transform 0.2s ease-in-out; /* Smooth transitions for hover/click */
}

/* Optional Hover Pop Effect */
.property-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 15px rgba(243, 239, 20, 0.432);
}

/* Pop Animation for Click */
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pop-animate {
  animation: pop 0.3s ease-in-out;
}
