@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700');


Body{
  font-family: 'Open Sans Condensed', sans-serif;
}

.Container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .Logo {
    
    width: 29%;
    height: auto;
  }
 
  .Logo img {
    max-width: 80%;
    max-height: 80%;
  }
  .Signup-box {
    width: 600px;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    background-color: #FDE6E8;
    gap: 7px;
    /* padding: 10px; */
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* margin-right: 0px; */
    margin-top: 10px;
    
  }
  
  .Title {
    margin-top: 30px;
    margin-bottom: 15px;
    /* text-align: center; */
    color:black;
    font-size: 30px;
    font-weight: 500;
  }
 
  .Signup-form {
    /* margin-top: 30px; */
    /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  
  gap: 15px;
  }

  .Signup-form label {
    display: block;
    color: black;
    /* margin-top: 10px; */
    /* margin-left: 85px; */
    font-weight: 500;
    font-size: 15px;
    
  }
  
  .Input-box {
    width: 320px;
    padding : 9px;
    border: 2px solid #a84d4d;
    border-radius: 5px;
    background-color:#FDE6E8;
    /* margin-top: 5px; */
    /* margin-left: 85px; */
    font-size: 15px;
    
  }
  .Options {
    display: flex;
    flex-direction: column;
    /* margin-top: 15px; */
    gap: 5px;
  }
  

  
  
  
  .Signup-button {
    width: 340px;
    height: 40px;
    background-color: #7d141d;
    color: white;
    padding: 2px;
    border: none;
    border-radius: 5px;
    /* margin-top: 15px; */
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    /* margin-left: 85px; */
  }
  
  .Signup-button:hover {
    background-color:#b3121d ;
  }
  
  .Footer-text-signup {
    /* text-align: center; */
    color: #7d141d;
    /* margin-top: 5px; */
    /* margin-bottom: 20px; */
    font-weight: bold;
    font-size: 19px;
    
  }
  .Signup-form .question {
    text-align: left;
    color: black;
    /* background-color: aqua; */
    margin-top: 0;
    /* margin-top: 20px; */
    /* margin-bottom: 2px; */
    font-weight: 500;
    /* translate: 85px -10px; */
    font-size: 16px;
  }
  .Error-confirm-password {
    font-weight: 500;
    font-size: 12px;
    color: red;
    margin-top: 5px;
  }
  .Error-password {
    font-size: 12px;
    font-weight: 500;
    color: red;
    margin-top: 5px;
  }
  .Success-message {
    font-size: 12px;
    font-weight: 500;
    color: green;
    margin-top: 5px;
  }
  