/* Colors */
:root {
  --crimson-red: #7d141d;
  --blush-pink: #fde6e8;
  --white: #ffffff;
  --black: #000000;
  --gray: #696969;
}

.signup-landlord-container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Left Section */
.signup-landlord-left-section {
  flex: 1;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup-landlord-logo {
  max-width: 80%;
  max-height: 80%;
}

/* Right Section */
.signup-landlord-right-section {
  flex: 1;
  background-color: var(--blush-pink);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 34px;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-landlord-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--black);
  margin-bottom: 20px;
  text-align: center;
}

/* Form Styles */
.signup-landlord-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.signup-landlord-form label {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray);
  margin-bottom: 5px;
}

.signup-landlord-form input {
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--crimson-red);
  background-color: var(--blush-pink);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-landlord-button {
  background-color: var(--crimson-red);
  color: var(--white);
  font-size: 18px;
  font-weight: 800;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer Text */
.signup-landlord-footer-text {
  font-size: 15px;
  font-weight: 600;
  color: var(--crimson-red);
  text-align: center;
  margin-top: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .signup-landlord-container {
    flex-direction: column;
  }

  .signup-landlord-left-section,
  .signup-landlord-right-section {
    flex: none;
    width: 100%;
  }

  .signup-landlord-right-section {
    padding: 20px;
    border-radius: 0;
  }

  .signup-landlord-title {
    font-size: 28px;
    text-align: center;
  }

  .signup-landlord-footer-text {
    font-size: 20px;
  }
}

/* Hover */
.signup-landlord-button {
  background-color: #7d141d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-landlord-button:hover {
  background-color: #b3121d;
}