

.tenant-profile-container {
    display: flex;
    max-width: 1200px;
    /* height: 600px; */
    /* height: auto; */
    margin: 20px auto;
    padding: 20px;
    /* background-color: #f9f9f9; */
    background-color: #FDE6E8;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .tenant-profile-left-column {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .tenant-profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 45px;
  }
  
  .tenant-profile-bio {
    font-size: 20px;
    font-weight: 400;
    color: #7D141D;
    line-height: 1.2;
  }
  
  .tenant-profile-right-column {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .tenant-profile-details {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .tenant-profile-details  p {
    font-size: 17px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .tenant-profile-details span {
    font-weight: bold;
    color: #7D141D;
    flex-shrink: 0;
    min-width: 170px;
  }
  
  .tenant-profile-buttons {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 20px; /* Space between buttons */
    margin-top: 20px;
  }
  
  .tenant-profile-edit-button,
  .tenant-profile-logout-button
   {
    width: 80px; /* Adjust width to be consistent */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }

  .tenant-profile-delete-button{
    width: 80px; /* Adjust width to be consistent */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    
  }
  
  .tenant-profile-edit-button {
    background-color: #ae3c42;
  }
  
  .tenant-profile-edit-button:hover {
    background-color: #d74747;
  }
  
  .tenant-profile-logout-button {
    background-color: #ae3c42; 
  }
  
  .tenant-profile-logout-button:hover {
    background-color: #d74747 
  }

  .tenant-profile-delete-button {
    background-color: #ae3c42; 
  }
  
  .tenant-profile-delete-button:hover {
    background-color: #d74747 
  }
  